* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #f5f8fa;
  color: #333;
  line-height: 1.4;
  max-width: 500px;
  margin: 0 auto;
}

header, footer {
  padding: 20px;
}

h1{
    color: black;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: clamp(40px, 5vw, 50px);
    font-weight: 500;
    line-height: 0.7;
}
h2{
    font-size: 20px !important;
    font-weight: 400;
    line-height: 1.2;
    color: rgb(153, 157, 162);
    padding-top: 8px;
    letter-spacing: 1.2;
}

section{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.name{
    padding-top: 12px;
    font-size: 20px;
    font-weight: 500;
}

.price{
    color: #333;
    font-size: 22px;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: rgb(98, 98, 98);
}


.img-container img {
    padding: 0;
    margin: 0;
    display: block;
    max-width: 100%;
    height: auto;
    max-height: 30svh;
    object-fit: contain;
    object-position: left top;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.016);
    transition: ease;
}

.img-container img:hover{
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.098);
     
}